@keyframes animation1 { 
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes animation2 {
    0%{
        opacity: 0;
       transform: translateY(-55%);
    }
    50%{
        opacity: 1;
       transform: translateY(0%);
    }
    100%{
        opacity: 0;
        transform: translateY(55%);
    }
}
@keyframes animation3 { 
    0%{
        border-color:transparent;
    }
    100%{
        border-color: var(--main-color);
    }
    
}
@keyframes spinner-fzua35 {

    0%,
    10%,
    20%,
    30%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
}
@keyframes loading {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}